*
!**/
!*.*

nimcache/
build/
docs/build/
.cache
.DS_Store
.vscode
.idea/
htmldocs/
*.exe
*.dll
*.orig
*.bak
*.bck
* - Copy.*
* - Copy (?).*

# Model weights for examples
shakespeare_model/
*_model/
*.npy